html, body{
	font-family:'sans-serif';
	height: 100%;
	width:100%;
	margin: auto;
}
.display-table{
	display:table;
	padding:0px;
	height:100%;
	width:100%;
}
.display-table-row{
	display:table-row;
	height:100%;
}
.display-table-cell{
	display:table-cell;
	float:none;
	height:100%;
}
.sidebar{
	vertical-align:top;
	color: #5a5c6e;
	margin:0;
	padding:0;
	background-color:#F8F9FA;
	border-right:solid thin #DFE0E1;
	overflow-x: hidden;
	z-index: 1;
}
.content{
	background-color:#FFFFFF;
}